.Secao {
    background-color: #0000AA;
    Color: Black;
    width:  150px;
}
.Secaoo {
    background-color: #00F00F;
    width: 150px;
}
.Secaooo {
    background-color: #000; 
    color: #fff;
}
.SecaoA {
    background-color: aqua;
}
.Span {
    background-color: red;
}