@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
    font-family: ubuntu;
}
body {
    background-image: url(/Cod_Eduardo_Pereira/Img/fundope.png);
}
/*  Cabeçalho   */
.Cabecalho {
    position: fixed;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
.Logo-Sesi {
    width: 250px;
    margin-right: 900px;
}
.Logo-P {
    width: 70px;
}
/*  Corpo   */
.Corpo {
    display: flex;
    justify-content: center;
}
.Quadrado {
    position: relative;
    top: 110px;
    background-color: white;
    border: 1px solid rgb(165, 23, 23);
    width: 70%;
    border-radius: 20px;
    padding: 20px;
}
input[type='text'] {
    width: 70%;
    margin-bottom: 20px;
    height: 20px;
    border-bottom: 1px solid black;
    align-items: end;
    font-size: 20px;
    padding: 30px 0 0 5px;
    margin-top: 15px;
}
input[type='text']:focus  {
    outline: 0px;
}
select {
    width: 350px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 30px;
}
input[type='radio'] {
    margin-top: 10px;
}
.botao {
    width: 200px;
    height: 35px;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    margin-top: 20px;
    margin-left: 40px;
}
.Rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: red;
     color: white;
     padding: 20px;
     height: 65px;
     margin-top: 169px;
}
p {
    text-align: center;
    width: 800px;
}