
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
    font-family: Ubuntu;
}
body {
    background-image: url(/Cod_Eduardo_Pereira/Img/fundope.png);
    height: 700px;
}
/*  Cabeçalho   */
.Cabecalho {
    position: fixed;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}
.Logo-Sesi {
    width: 250px;
    margin-right: 900px;
}
.Logo-P {
    width: 70px;
}
/* Corpo */
/* Livro */
.Corpo-Dois {
    margin-left: 225px;
    position: relative;
    top: 150px;
}
.Arrumador {
    display: flex;
    align-items: center;
}
.Livros-Img {
    width: 220px;
    border-radius: 10px;
}
.Quadrado-Dois {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 315px;
    padding: 20px 8px 20px 8px;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.105);
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 15px;
    margin-right: 70px;
}
.Quadrado {
    background-color: white;
    border: 1px black solid;
    border-radius: 30px;
    padding: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    margin-bottom: 40px;
}
p {
    width: 700px;
}
.Button {
    background-color: red;
    border-radius: 30px;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 15px;
    margin-top: 70px;
    cursor: pointer;
}
h3 {
    margin-top: 20px;
    color: red;
    font-size: 32px;
}
.Arrumador-Dois {
    display: flex;
}
td {
    border: 1px black solid;
    padding: 5px;
}
tr {
    border: 1px black solid;
    padding: 5px;
}
th {
    border: 1px black solid;
    padding: 5px;
}
table {
    border: 1px black solid;
    padding: 5px;
    margin-left: 40px;
    margin-top: 30px;
}