.botao {
    position: relative;
    top:100px;
    left: 100px;
}
.botao a{
    border-radius: 10px;
    background-color: blue;
    padding: 20px 7px 20px 10px;
    width: 120px;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
.botao :hover {
    background-color: rgb(31, 31, 129);
}